@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  background: transparent;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
}

a,
a:visited {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  background: #F2F7FB;
  color: #4d4d4d;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 15px;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  padding: 100px 0;
}

.keyboard {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 25px;
  background: -o-linear-gradient(305deg, #F2F7FB, #E9F2FB);
  background: linear-gradient(145deg, #F2F7FB, #E9F2FB);
  -webkit-box-shadow: 8px 8px 15px #D9E3EC;
          box-shadow: 8px 8px 15px #D9E3EC;
  border-radius: 12px;
  min-width: 750px;
  max-width: 1000px;
}

.keyboard .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.keyboard .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin: 10px;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  background: -o-linear-gradient(305deg, #F2F7FB, #E9F2FB);
  background: linear-gradient(145deg, #F2F7FB, #E9F2FB);
  -webkit-box-shadow: 5px 5px 15px #D9E3EC;
          box-shadow: 5px 5px 15px #D9E3EC;
  -webkit-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

.keyboard .button:hover,
.keyboard .button:focus {
  -webkit-box-shadow: 5px 5px 15px #D9E3EC inset;
          box-shadow: 5px 5px 15px #D9E3EC inset;
}

.keyboard .button span {
  background: #da22ff;
  background: -webkit-gradient(linear, left bottom, left top, from(#9733ee), to(#da22ff));
  background: -o-linear-gradient(bottom, #9733ee, #da22ff);
  background: linear-gradient(to top, #9733ee, #da22ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.keyboard .button span.with-shift {
  text-transform: uppercase;
}

.keyboard .backspace,
.keyboard .shift,
.keyboard .capslock,
.keyboard .enter {
  width: 87.5px;
  height: 50px;
}

.keyboard .spacebar {
  width: 100%;
  max-width: 400px;
  height: 50px;
}

.keyboard .shift,
.keyboard .capslock {
  position: relative;
}

.keyboard .shift.active:after,
.keyboard .capslock.active:after {
  background: #3be6ad;
}

.keyboard .shift.active:after,
.keyboard .capslock.active:after {
  background: #3be6ad;
}

.keyboard .shift:after,
.keyboard .capslock:after {
  content: "";
  position: absolute;
  top: 20%;
  right: 20%;
  width: 6px;
  height: 6px;
  border: none;
  border-radius: 50%;
  background: #ff6c6c;
}

.textarea {
  width: 100%;
  padding: 0 100px;
}

.textarea__input {
  overflow: auto;
  width: 100%;
  min-height: 150px;
  max-height: 100%;
  resize: vertical;
  background: -o-linear-gradient(305deg, #F2F7FB, #E9F2FB);
  background: linear-gradient(145deg, #F2F7FB, #E9F2FB);
  -webkit-box-shadow: inset 2px 2px 15px #D9E3EC;
          box-shadow: inset 2px 2px 15px #D9E3EC;
  border-radius: 12px;
  border: none;
  padding: 20px;
  outline: none;
}