@font-face {
  font-family: "Avenir Next";
  src: url("../fonts/avenir-next/AvenirNextCyr-Bold.woff") format("woff");
  src: url("../fonts/avenir-next/AvenirNextCyr-Bold.eot") format("eot"),
    url("../fonts/avenir-next/AvenirNextCyr-Bold.ttf") format("truetype"),
    url("../fonts/avenir-next/AvenirNextCyr-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../fonts/avenir-next/AvenirNextCyr-Demi.woff") format("woff");
  src: url("../fonts/avenir-next/AvenirNextCyr-Demi.eot") format("eot"),
    url("../fonts/avenir-next/AvenirNextCyr-Demi.ttf") format("truetype"),
    url("../fonts/avenir-next/AvenirNextCyr-Demi.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../fonts/avenir-next/AvenirNextCyr-Medium.woff") format("woff");
  src: url("../fonts/avenir-next/AvenirNextCyr-Medium.eot") format("eot"),
    url("../fonts/avenir-next/AvenirNextCyr-Medium.ttf") format("truetype"),
    url("../fonts/avenir-next/AvenirNextCyr-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../fonts/avenir-next/AvenirNextCyr-Regular.woff") format("woff");
  src: url("../fonts/avenir-next/AvenirNextCyr-Regular.eot") format("eot"),
    url("../fonts/avenir-next/AvenirNextCyr-Regular.ttf") format("truetype"),
    url("../fonts/avenir-next/AvenirNextCyr-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Regular.woff") format("woff");
  src: url("../fonts/montserrat/Montserrat-Regular.eot") format("eot"),
    url("../fonts/montserrat/Montserrat-Regular.ttf") format("truetype"),
    url("../fonts/montserrat/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-SemiBold.woff") format("woff");
  src: url("../fonts/montserrat/Montserrat-SemiBold.eot") format("eot"),
    url("../fonts/montserrat/Montserrat-SemiBold.ttf") format("truetype"),
    url("../fonts/montserrat/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Medium.woff") format("woff");
  src: url("../fonts/montserrat/Montserrat-Medium.eot") format("eot"),
    url("../fonts/montserrat/Montserrat-Medium.ttf") format("truetype"),
    url("../fonts/montserrat/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-Regular.woff") format("woff");
  src: url("../fonts/gilroy/Gilroy-Regular.eot") format("eot"),
    url("../fonts/gilroy/Gilroy-Regular.ttf") format("truetype"),
    url("../fonts/gilroy/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
