* {
  margin: 0;
  padding: 0;
  border: 0;
}

::selection {
  color: hsl(0, 75%, 45%);
  background: getKeyboardBG(light);
}

html,
body {
  background: #141414;
  height: 100%;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
