$button-size: 50px;
$big-button-width: 100px;
$spacebar-width: 250px;

$indicator: (
  "size": 10px,
  "activeColor": rgb(50, 204, 50),
  "inactiveColor": rgb(184, 29, 29),
);

$keyboard-bgs: (
  "light": hsl(0, 0%, 50%),
  "normal": hsl(0, 0%, 25%),
  "dark": hsl(0, 0%, 20%),
);

@function getKeyboardBG($bg) {
    @return map-get($keyboard-bgs, $bg)
}