.keyboard {
  user-select: none;
  padding: 25px;
  background: linear-gradient(145deg, $primary-color, $key-corner);
  box-shadow: 8px 8px 15px $shadow-color;
  border-radius: 12px;
  min-width: 750px;
  max-width: 1000px;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    width: $btn-size;
    height: $btn-size;
    border-radius: 15px;
    background: linear-gradient(145deg, $primary-color, $key-corner);
    box-shadow: 5px 5px 15px $shadow-color;
    transition: all 100ms ease-in;
    
    &:hover, &:focus {
      box-shadow: 5px 5px 15px $shadow-color inset;
    }

    span {
      background: #da22ff; 
      background: -webkit-linear-gradient(
        to top,
        #9733ee,
        #da22ff
      ); 
      background: linear-gradient(
        to top,
        #9733ee,
        #da22ff
      ); 
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    span.with-shift {
      text-transform: uppercase;
    }
  }

  .backspace,
  .shift,
  .capslock,
  .enter {
    width: $btn-size * 1.75;
    height: $btn-size;
  }

  .spacebar {
    width: 100%;
    max-width: $btn-size * 8;
    height: $btn-size;
  }

  .shift,
  .capslock {
    position: relative;

    &.active:after {
      background: map-get($indicator, activeColor);
    }

    &.active:after {
      background: map-get($indicator, activeColor);
    }

    &:after {
      content: "";
      position: absolute;
      top: 20%;
      right: 20%;
      width: map-get($indicator, size);
      height: map-get($indicator, size);
      border: none;
      border-radius: 50%;
      background: map-get($indicator, inactiveColor);
    }
  }
}
