.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  user-select: none;

  > div {
    display: flex;
    flex-direction: row;
    align-content: center;
  }

  .button {
    position: relative;
    height: $button-size;
    width: $button-size;

    background: getKeyboardBG(normal);

    margin: 3px;

    border: none;
    border-radius: 4px;
    outline: none;

    color: white;
    font-size: 1.1rem;
    font-family: "Chakra Petch", sans-serif;

    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: getKeyboardBG(light);
    }
  }

  .button.with-shift {
    text-transform: uppercase;
  }

  .backspace,
  .shift,
  .capslock,
  .enter {
    width: $big-button-width;
    height: $button-size;
  }

  .shift:after {
    content: "";
    position: absolute;
    top: 15%;
    left: 80%;
    width: map-get($indicator, size);
    height: map-get($indicator, size);

    border: none;
    border-radius: 50%;

    background: map-get($indicator, inactiveColor);
  }

  .shift.active:after {
    background: map-get($indicator, activeColor);
  }

  .capslock:after {
    content: "";
    position: absolute;
    top: 15%;
    left: 80%;
    width: map-get($indicator, size);
    height: map-get($indicator, size);

    border: none;
    border-radius: 50%;

    background: map-get($indicator, inactiveColor);
  }

  .capslock.active:after {
    background: map-get($indicator, activeColor);
  }

  .spacebar {
    width: $spacebar-width;
    height: $button-size;
  }
}
