@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  background: $primary-color;
  color: $text;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;

  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100%;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 100px 0;
}
